---
import * as about from "../pages/about/about.md";
---

<header class="mx-auto pb-2 relative">
    <article
        class="flex flex-col md:flex-col items-center gap-0 w-full max-w-2xl"
    >
        <div class="relative overflow-hidden max-h-2/5">
            <img
                alt="profile picture"
                src={import.meta.env.BASE_URL + "/raffaella.webp"}
                class="rounded-[16px]"
            />
            <img
                alt="profile picture"
                src={import.meta.env.BASE_URL + "/profile_curve.svg"}
                class="absolute bottom-0"
            />
            <div
                class="absolute bottom-0 right-0 w-[155px] h-[72px] flex flex-row items-center px-3"
            >
                <img
                    alt="profile picture"
                    src={import.meta.env.BASE_URL + "/h512_spiroductos.png"}
                />
            </div>
        </div>
        <div class="overflow-hidden w-[350px] my-[10px]"></div>

        <div class="w-full flex flex-row">
            <div class="basis-2/3 pl-3">
                <div class="pl-3 border-l-2 border-dotted">
                    <h1
                        class="text-2xl font-extrabold tracking-tight md:text-3xl relative"
                    >
                        {about.frontmatter.name}
                    </h1>
                    <h2 class="text-lg text-secondary">
                        {about.frontmatter.designation}
                    </h2>
                    <h3 class="text-lg font-light italic">Spiroductos S.A.S</h3>
                </div>
            </div>
            <div class="basis-1/3 flex justify-center">
                <img
                    alt="profile picture"
                    class="h-[100px]"
                    src={import.meta.env.BASE_URL + "/qr-code.svg"}
                />
            </div>
        </div>
    </article>
</header>

<style>
    @media (max-width: 768px) {
        .flex-col.justify-end {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
</style>
